@import '../../styles/variables';

.date-field-label {
  color: darken(#ebedf1, 30%);
  font-size: .8em;
}

.date-field {
  font-weight: 300;
  font-size: 14px;
}

.date-field-label-inline {
  display: inline-block;
  margin-top: 40px;
  font-weight: $font-weight-primary;
  font-size: 16px;
  color: $color-text;
}

.date-field-inline {
  padding: 7px;
  margin: 7px;
  display: inline-block;
}

input:invalid.touched {
  border: 1px solid $color-error;
  box-shadow: 0 0 10px $color-error;
}

input:focus {
  border: 1px solid $color-info;
  box-shadow: 0 0 10px $color-info;
}