.form-formatting {
  padding: 3px 7px;
  margin: 3px 7px;
}

.form-input {
  flex-basis: 13%;
  flex-grow: 0;
  padding: 7px;
  margin: 7px;
  display: inline-grid;
}

.range-label {
  margin-top: 37px;
}

.apply-button {
  padding: 7px;
  margin: 7px;
  margin-top: 12px;
}
