.form-formatting {
  padding: 3px 7px;
  margin: 3px 7px;
  flex-basis: 100%;
}

.search-input {
  flex-basis: 23%;
  flex-grow: 0;
  padding: 7px;
  margin: 7px;
  display: inline-grid;
}

.file-details {
  display: flex;
  flex-flow: row wrap;
}

.file-details > * {
  flex-grow: 0;
  flex-basis: 15%;
}

.check-boxes {
  display: flex;
  flex-flow: row;
}

.check-boxes > * {
  flex-grow: 0;
  flex-basis: 13%;
}
