.job-detail-row {
  display: flex;
  flex-flow: row wrap;
}

.job-detail-row > * {
  flex-grow: 0;
  flex-basis: 33%;
}

.job-account-detail-row {
  display: flex;
  flex-flow: row wrap;
}

.job-account-detail-row > :not(:first-child) {
  flex-grow: 0;
  flex-basis: 18%;
}

.job-purge-detail-row {
  display: flex;
  flex-flow: row wrap;
}

.job-purge-detail-row > * {
  flex-grow: 0;
  flex-basis: 25%;
}

.account-title {
  display: flex;
}

.account-dropdown {
  display: inline;
  padding-left: 10px;
}

.account-btn-wrapper {
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.account-btn {
  display: flex;
  align-items: center;
}

.account-btn:focus {
  outline: 0;
}

.clear-account-detail-row {
  display: flex;
  flex-flow: row wrap;
}

.clear-account-detail-row > * {
  margin: 0 15px;
}

.send-enrollments-detail-row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.send-enrollments-detail-row > * {
 margin-right: 30px;
}

.enrollment-table th, td {
  padding: 10px 4.5px;
}