@import '../../styles/variables';

.date-range {
  display: inline-block;
}

.date-range-label {
  display: inline-block;
  margin-top: 40px;
  margin-right: 10px;
  font-weight: $font-weight-primary;
  font-size: 16px;
  color: $color-text;
}

.date-range-field {
  padding: 7px;
  margin: 7px;
  display: inline-block;
  font-weight: $font-weight-primary;
  font-size: 16px;
  color: $color-text;
}

input:focus {
  border: 1px solid $color-info;
  box-shadow: 0 0 10px $color-info;
}
