.button-wrapper {
  margin-top: 1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.transactions-btn {
  display: flex;
  align-items: center;
}

.transactions-btn:focus {
  outline: 0;
}