@import 'variables';
@import 'mixins/breakpoints';
@import 'mixins/reset';
@import 'typography';

//TODO: Refactor these
.page {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1em;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 25em;
}

html { box-sizing: border-box; }

body {
  @include reset-box-model;
  background: $color-bg;
  color: $color-text;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.a-link {
  color: $color-brand-primary;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.orange {
  color: $color-brand-primary;
}

.red {
  color: red;
}

.action {
  font-size: 1.4em;
}

.text-right {
  text-align: right;
}

.margin-left {
  margin-left: 1em;
}

.margin-right {
  margin-right: 1em;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.soft-text {
  font-weight: 300;
  font-size: 14px;
}

.grid-2 {
  display: flex;
  flex-flow: row wrap;
}

.grid-2 > * {
  flex-grow: 0;
  flex-basis: 50%;
}

.grid-1 {
  display: flex;
  flex-flow: row wrap;
}

.grid-1 > * {
  flex-grow: 0;
  flex-basis: 20%;
}

.white {
  color: white;
}
