@import '../../styles/variables';

table {
    width: 100%;
    border-spacing: 20px 0;
    margin-left: -4px;
    border-collapse: collapse;
}

td, th {
    padding: 6px;
    text-align: left;
    padding-bottom: 1em;
    font-size: 14px;
}

thead > tr > td {
    border-bottom: 1px solid #ebedf1;
    padding-bottom: 0px;
    color: darken(#ebedf1, 30%);
    font-size: .8em;
}

.bottom-border {
    background: #ebedf1;
    height: 1px;
    margin-right: 40px;
}

tbody > tr > td > a {
    font-weight: bolder;
}

.page-nav {
  margin-top: 5px;
  margin-right: 40px;
  text-align: right;
}

.button-nav {
  width: auto;
  position: relative;
  margin-right: 4px;
  border: none;
  display: inline-block;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  vertical-align: top
}

.current-nav {
  width: 80px;
  border-style: solid;
  border-width: thin;
  color: black;
  margin-right: 6px;
  margin-left: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px 3px 3px 3px;
}
