@import '../../styles/variables';

.card {
  background-color: white;
  border: 1px solid transparent;
  border-color: $color-grey;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  margin-top: $size-gutter;
  padding: 1em;

  &.padding {
    padding: $size-gutter;
  }
}
