@import '../../styles/variables';

.landing-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: $size-gutter;
}

.landing-container > * {
  -webkit-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.38);
  -moz-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.38);
  box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.38);
  flex-grow: 0;
  flex-basis: 32%;
  padding: 10px;
  margin: 30px 8px;
  background-color: #ffffff;
}

.disabled-link {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
}

.landing-card-link {
  border-bottom: 1px solid gainsboro;
  display: block;
}