@import '../../styles/variables';

.site-nav {
  background: #F7F9F9;
  box-shadow: 0 0 6px rgba($color-text, .4);
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    font-size: 1em;
  }

  .logo {
    height: 3.5rem;
    width: auto;
  }
}