@import '../../styles/variables';

.app-title {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    height: 2.7%;
    width: 9.64%;
    text-align: center;  
  }

.banner-header {
    height: 4rem;
    width: 100%;
    background-image: url('../../assets/images/background_image.png');
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px;
  }

.rectangle {
    height: 26px;
    width: 153px;
    background-color: #4A90E2;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transform: skewX(-16deg);
    padding: 3px;
}

.menu {
    height: 3rem;
    width: 100%;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #181F27;
}

.menu-big {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1150px) {
        display: none;
    }
}

.menu-small {
    display: none;
    align-items: center;

    @media only screen and (max-width: 1150px) {
        display: flex;
    }

    @media only screen and (max-width: 800px) {
        display: none;
    }
}

.menu-tiny {
    display: none;
    align-items: center;

    @media only screen and (max-width: 800px) {
        display: flex;
    }
}

.menu-item {
    list-style-type: none;
    margin-right: 3em;

    @media only screen and (max-width: 1700px) {
        font-size: 10pt;    
    }

    @media only screen and (max-width: 1450px) {
        font-size: 8pt;    
    }

    & > a {
        text-decoration: none;
        color: white;
    }

    & > a.active {
        border-bottom: 2px solid $color-brand-primary;
    }
}