.address-detail-row {
    display: flex;
    flex-flow: row wrap;
}

.address-detail-row > * {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1em;
}

.success-message {
    font-style: italic;
    color: green;
}