@import '../styles/mixins/touchables';
@import '../styles/variables';

$button-width: 100px;

.button {
  background-color: $color-grey-dark;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.button-inline {
  display: inline-block;
}

.button-primary {
  background-color: $color-brand-primary;
  color: white;
}

.button-secondary {
  background-color: gray;
}

.button-danger {
  background-color: $color-error;
  color: white; 
}

.button-close {
  background-color: $color-white;
  color: $color-grey-dark;
  padding: 3px;
}

.button-edit {
  background-color: $color-white;
  border: 1px solid $color-brand-primary;
  color: $color-brand-primary;
}

.button-fixed {
  width: $button-width
}

form:invalid button[type=submit] {
  background: $color-grey-darkish;
  cursor: default;
}