@import '../../styles/variables';

.text-field-label {
  color: darken(#ebedf1, 30%);
  font-size: .8em;
}

.text-field {
  font-weight: 300;
  font-size: 14px;
}

input:invalid.touched {
  border: 1px solid $color-error;
  box-shadow: 0 0 10px $color-error;
}

input:focus {
  border: 1px solid $color-info;
  box-shadow: 0 0 10px $color-info;
}