@import '../variables';

// Example Usage --------------------
//
// .content {
//   @include display-grid;
//   grid-template-columns: 15% 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//
//   & > nav {
//     @include grid-child(1,2,1,1);
//   }
//
//   & > main {
//     @include grid-child(3,3,1,1);
//   }
// }
//

@mixin display-grid {
  display: grid;
  grid-gap: $size-gutter;
  padding: $size-gutter;
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}
