@mixin view-default {
  overflow: auto;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

@mixin card {
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: 0 1px 5px rgba($color-text, .4);
  margin-bottom: $size-gutter;
  padding: 1.5 * $size-gutter;
}

