@import '../variables';
@import './touchables';

@mixin table {
  border-collapse: inherit;
  border-spacing: 0;
  font-weight: $font-weight-primary;
  width: 100%;
  border-color: $color-grey;

  thead {
    background: $color-bg;

    th {
      font-weight: 300;
      white-space: nowrap;
    }
  }

  td,
  th {
    border: 1px solid $color-grey;
    font-size: 1em;
    padding: .25 * $size-gutter .5 * $size-gutter;
  }

  td {
    font-weight: $font-weight-primary;
    text-align: left;

    &.center { text-align: center; }
    &.right { text-align: right; }
  }

  .actions {
    white-space: nowrap;

    .button {
      @include button-sm;
      @include button-icon;
    }
  }

  // TODO this could be in a better place
  input {
    border: 1px solid $color-grey;
    border-radius: $border-radius;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: .15rem .5rem;
  }
}